    .navbar {
        background-image: url("./assets/image-home.png");
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1533px;
        height: 68px;
        background-size: cover;
   
    }
    #nav-right{
        margin-left: 50px;
    }
  
    #nav-left{
        margin-right: 50px;
    }
    #login {
        background-color: transparent;
        position: absolute;
        font-family: Product Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        width: 100px;
        height: 30px;
        left: 1120px;
        top: 23px;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 5px;
    }
    
    #register {
        position: absolute;
        width: 100px;
        height: 30px;
        left: 1235px;
        top: 23px;
        background: #FFAF00;
        border-radius: 5px;
        font-family: Product Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF !important;
    }
    #body-register label{
        margin-left: 33px;
        margin-right:33px;
        font-family: Avenir;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 33px;
        color: #000000;
    }
    #body-register input{
        margin-left: 33px;
        margin-right:33px;
        background: rgba(210, 210, 210, 0.25);
        border: 2px solid rgba(210, 210, 210, 0.25);
        box-sizing: border-box;
        border-radius: 5px;
        width: 350px;
        height: 50px;
    }
    #btn-login button{
        
        width: 350px;
        height: 50px;
        left: 40px;
        margin-top: 20px;
      
        margin-left: 50px;
        background: #FFAF00;
        border-radius: 5px;
        font-family: Product Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;

        color: #FFFFFF;
    }
    #user-img{
        width: 30px;
        height: 30px;
    }
    #btn-regis{
        width: 350px;
        height: 50px;
        left: 40px;
        margin-top: 20px;
      
        margin-left: 50px;
        background: #FFAF00;
        border-radius: 5px;
        font-family: Product Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
    }

